.friends-page {
  .container {
    width: 100%;
    height: 100%;
    max-width: 100%;

    ion-item {
      margin-bottom: 1vh;
    }
  }

  .friends-container {
    background: rgba(255, 255, 255, 0.75);
    margin-top: 2vh;
  }

  .friends-add-button {
    position: absolute;
    right: 3vh;
    top: 3vh;
  }
}

