<ion-content class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 login-container">
                <h2>Connexion</h2>
                <div *ngIf="message" class="alert-danger ion-text-center p-2">Erreur lors de l'authentification</div>
                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                    <ion-item [ngClass]="{ 'ion-invalid ion-touched': submitted && f.username.errors }">
                        <ion-label>
                            <ion-icon name="mail"></ion-icon>
                            <span>E-mail</span>
                        </ion-label>
                        <ion-input formControlName="username" type="mail"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="submitted && f.username.errors" class="ion-item-invalid-feedback">
                        <div *ngIf="f.username.errors.required">E-mail obligatoire.</div>
                        <div *ngIf="f.username.errors.email">Doit être une adresse mail.</div>
                    </ion-item>

                    <ion-item [ngClass]="{ 'ion-invalid ion-touched': submitted && f.password.errors }">
                        <ion-label>
                            <ion-icon name="key"></ion-icon>
                            <span>Mot de passe</span>
                        </ion-label>
                        <ion-input formControlName="password" type="password"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="submitted && f.password.errors" class="ion-item-invalid-feedback">
                        <div *ngIf="f.password.errors.required">Mot de passe obligatoire.</div>
                    </ion-item>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Se connecter</button>
                        <img *ngIf="loading"
                             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        <a [routerLink]="['/tabs/register']" class="btn btn-link">Je n'ai pas de compte</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>
