<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="mapscreen">
            <ion-icon name="map"></ion-icon>
            <ion-label>Carte</ion-label>
        </ion-tab-button>

        <div *ngIf="currentUser; then loggedMenu else logIn"></div>
        <ng-template #loggedMenu>
            <ion-tab-button tab="friends">
                <ion-icon name="people"></ion-icon>
                <ion-label>Amis</ion-label>
            </ion-tab-button>

        <ion-tab-button tab="crawls">
            <ion-icon name="beer"></ion-icon>
            <ion-label>Barathons</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile" *ngIf="currentUser; else logIn">
            <ion-icon name="person"></ion-icon>
            <ion-label>Profil</ion-label>
        </ion-tab-button>

        <ng-template #logIn>
            <ion-tab-button tab="login">
                <ion-icon name="log-in"></ion-icon>
                <ion-label>Connexion</ion-label>
            </ion-tab-button>
        </ng-template>
    </ion-tab-bar>
</ion-tabs>
