.full-height {
  height: 100%;
  padding-bottom: 2vh;

  ion-content {
    --background: url('/assets/images/background.png') no-repeat center center;
    background-size: cover;
  }

  ion-card {
    background: #fff;
  }

  .bordered {
    border: 1px solid lightgray !important;
  }
}
