<div *ngIf="poi">
    <ion-header>
        <ion-toolbar>
            <ion-title>{{ poi.name }}</ion-title>
            <ion-icon slot="end" name="close" (click)="disposeModal()" class="close-icon"></ion-icon>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <span>{{ poi.address.split(',')[0] }}</span><br />
                    <span class="ion-text-right">{{ poi.address.split(',')[1] }}, {{ poi.address.split(',')[2] }}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</div>
