// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.


body {
  background: url('/assets/images/background.png') no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}

ion-content {
  --background: rgba(0, 0, 0, 0);
}

ion-label, ion-button {
  ion-icon, span {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    margin-left: 5px;
  }
}

.ion-item-invalid-feedback {
  --background: transparent;
  font-size: 0.75rem;
  color: red;
  --border-color: transparent;
  --min-height: auto;
}

.close-icon {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
